<template>
  <div class="is-clearfix my-4">
    <div class="columns">
      <div class="column is-4" v-for="session in sessionData" :key="session.id">
        <el-card>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6">
                  <strong>{{session.studentID}}</strong>
                </p>
                <p class="subtitle is-7" style="margin-top: -10px">
                  <small>Student</small>
                </p>
              </div>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6">
                  <strong>{{session.trainerID}}</strong>
                </p>
                <p class="subtitle is-7" style="margin-top: -10px">
                  <small>Trainer</small>
                </p>
              </div>
            </div>
          </article>
          <div class="is-clearfix border-bottom py-3">
            <p class="title is-size-7 has-text-weight-bold">Session</p>
            <div class="columns is-mobile" style="margin-top: -25px !important;">
              <div class="column is-3-mobile is-3-tablet is-3-desktop is-2-widescreen is-1-fullhd">
                <p class="subtitle is-7 mt-1">
                  <span class="has-text-primary has-text-weight-bold">Start</span>
                </p>
                <p class="subtitle is-7" style="margin-top: -15px;">
                  <span class="has-text-primary has-text-weight-bold">End</span>
                </p>
              </div>
              <div
                class="column is-three-quarters-mobile is-9-tablet is-9-desktop is-10-widescreen is-one-quarter-fullhd"
              >
                <p class="subtitle is-7 mt-1">
                  <span>{{ session.sessionShouldStart }} - {{ session.sessionDate }}</span>
                </p>
                <p class="subtitle is-7" style="margin-top: -15px;">
                  <span>{{ session.sessionShouldEnd }} - {{ session.sessionDate }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="is-clearfix pt-3">
            <span class="is-size-6 mr-3 has-text-weight-bold">01 Hour</span>
            <span class="is-size-6 mt-2 has-text-weight-bold has-text-danger">$20</span>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['sessionData']
}
</script>
