<template>
  <div class="is-clearfix has-text-centered border-bottom has-background-white py-3 mb-4">
    <el-switch
      style="display: block"
      v-model="sessionsOption"
      active-color="#13ce66"
      inactive-color="#ff4949"
      active-text="Direct"
      inactive-text="Block Booking"
      active-value="directBooking"
      inactive-value="blockBooking"
      @change="onSessionsOptionChanged">
    </el-switch>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sessionsOption: 'directBooking'
    }
  },
  methods: {
    onSessionsOptionChanged(val) {
      console.log(val)
    }
  }
}
</script>
