<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu />
      <el-main>
        <!-- <StudentsFilter /> -->
        <StudentsTable :studentsData="studentsData" />
        <CounterComponent :totalCount="studentsData.length" />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios'
import SideBarMenu from '@/components/menu/index'
import StudentsFilter from '@/components/students/StudentsFilter'
import StudentsTable from '@/components/students/StudentsTable'
import CounterComponent from '@/components/common/CounterComponent'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Students | Gyru'
    }
  },
  async asyncData() {
    const studentsData = await axios
      .get('https://gyruproject.firebaseio.com/students.json')
      .then(response => {
        const studentsArray = []
        for (let key in response.data) {
          studentsArray.push({ ...response.data[key], id: key })
        }
        return studentsArray
      })
    return { studentsData }
  },
  components: {
    SideBarMenu,
    StudentsFilter,
    StudentsTable,
    CounterComponent
  }
}
</script>
