<template>
  <div class="is-clearfix my-4">
    <div class="columns">
      <div class="column">
        <el-card>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6"><strong>John Smith</strong></p>
                <p class="subtitle is-7" style="margin-top: -10px"><small>Student</small></p>
              </div>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6"><strong>John Smith</strong></p>
                <p class="subtitle is-7" style="margin-top: -10px"><small>Driver</small></p>
              </div>
            </div>
          </article>
          <div class="is-clearfix border-bottom py-3">
            <p class="title is-size-7 has-text-weight-bold">Appointment Location</p>
            <p class="subtitle is-7 mt-1">
              <location-icon title="" class="mr-2 is-size-7 is-inline-flex" /> Appointment Location</p>
          </div>
          <div class="is-clearfix pt-3">
            <p class="title is-size-7 has-text-weight-bold">Session List</p>
            <p class="subtitle is-7 mt-1"><span class="has-text-primary has-text-weight-bold">S01</span> <span>10.00 AM - 12.00 PM June 08, 2018</span></p>
          </div>
        </el-card>
      </div>
      <div class="column">
        <el-card>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6"><strong>John Smith</strong></p>
                <p class="subtitle is-7" style="margin-top: -10px"><small>Student</small></p>
              </div>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6"><strong>John Smith</strong></p>
                <p class="subtitle is-7" style="margin-top: -10px"><small>Driver</small></p>
              </div>
            </div>
          </article>
          <div class="is-clearfix border-bottom py-3">
            <p class="title is-size-7 has-text-weight-bold">Appointment Location</p>
            <p class="subtitle is-7 mt-1">
              <location-icon title="" class="mr-2 is-size-7 is-inline-flex" /> Appointment Location</p>
          </div>
          <div class="is-clearfix pt-3">
            <p class="title is-size-7 has-text-weight-bold">Session List</p>
            <p class="subtitle is-7 mt-1"><span class="has-text-primary has-text-weight-bold">S01</span> <span>10.00 AM - 12.00 PM June 08, 2018</span></p>
          </div>
        </el-card>
      </div>
      <div class="column">
        <el-card>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6"><strong>John Smith</strong></p>
                <p class="subtitle is-7" style="margin-top: -10px"><small>Student</small></p>
              </div>
            </div>
          </article>
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/48x48.png" class="is-rounded" />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-6"><strong>John Smith</strong></p>
                <p class="subtitle is-7" style="margin-top: -10px"><small>Driver</small></p>
              </div>
            </div>
          </article>
          <div class="is-clearfix border-bottom py-3">
            <p class="title is-size-7 has-text-weight-bold">Appointment Location</p>
            <p class="subtitle is-7 mt-1">
              <location-icon title="" class="mr-2 is-size-7 is-inline-flex" /> Appointment Location</p>
          </div>
          <div class="is-clearfix pt-3">
            <p class="title is-size-7 has-text-weight-bold">Session List</p>
            <p class="subtitle is-7 mt-1"><span class="has-text-primary has-text-weight-bold">S01</span> <span>10.00 AM - 12.00 PM June 08, 2018</span></p>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>
