<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu/>
      <el-main>
        <!-- <SessionsOptions /> -->
        <!-- <SessionsFilter/> -->
        <SessionsTable :sessionData="sessionData"/>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import SideBarMenu from '@/components/menu/index'
import SessionsOptions from '@/components/sessions/SessionsOptions'
import SessionsFilter from '@/components/sessions/SessionsFilter'
import SessionsTable from '@/components/sessions/SessionsTable'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Sessions | Gyru'
    }
  },
  async asyncData({ store }) {
    const data = await store.dispatch('session/getSessionData')
  },
  computed: {
    sessionData() {
      return this.$store.state.session.sessions
    }
  },
  components: {
    SideBarMenu,
    SessionsOptions,
    SessionsFilter,
    SessionsTable
  }
}
</script>

