<template>
  <div class="is-clearfix my-4">
    <el-table :data="driversData" highlight-current-row>
      <el-table-column prop="name" label="Name" width="150" class-name="is-capitalized"></el-table-column>
      <el-table-column prop="email" label="Email" width="150"></el-table-column>
      <el-table-column prop="phone" label="Phone" width="150"></el-table-column>
      <el-table-column prop="address" label="Address" width="200"></el-table-column>
      <el-table-column prop="about" label="About" width="200"></el-table-column>
      <el-table-column prop="blockBooking" label="Block Booking" width="150">
        <template slot-scope="scope">
          <span class="is-capitalized" >{{ scope.row.completed }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="carType" label="Car Type" width="150" class-name="is-capitalized"></el-table-column>
      <el-table-column prop="completed" label="Completed" width="150">
        <template slot-scope="scope">
          <span class="is-capitalized" >{{ scope.row.completed }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="postCode" label="Post Code" width="150"></el-table-column>
      <el-table-column prop="latitude" label="Latitude" width="150"></el-table-column>
      <el-table-column prop="longitude" label="Longitude" width="150"></el-table-column>
      <el-table-column prop="weekDayRate" label="Week Day Rate" width="120"></el-table-column>
      <el-table-column prop="weekEndRate" label="Weekend Rate" width="120"></el-table-column>
      <el-table-column label="Status" prop="status" value="status" class-name="is-capitalized" width="150">
          <template slot-scope="scope">
            <el-dropdown size="medium" trigger="click">
              <el-tag size="medium" class="is-capitalized" :type="scope.row.status === 'activated' ? 'success' : 'danger'"
                plain><span>{{ scope.row.status }}</span></el-tag>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-if="scope.row.status === 'activated'">
                  <p @click.prevent="updateThisTrainerStatus(scope.row.id, 'deactivated')"><i class="el-icon-edit mr-1"></i><span
                      class="is-capitalized" :title="scope.row.id">Deactivate trainer</span></p>
                </el-dropdown-item>
                <el-dropdown-item v-else>
                  <p @click.prevent="updateThisTrainerStatus(scope.row.id, 'activated')"><i class="el-icon-edit mr-1"></i><span
                      class="is-capitalized">Activate trainer</span></p>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: ['driversData'],
  data() {
    return {}
  },
  methods: {
    updateThisTrainerStatus(trainerId, updateStatus) {
      let changeTrainerStatus = {
        trainerId: trainerId,
        trainerUpdatedStatus: updateStatus
      }

      this.$store.dispatch('drivers/updateTrainerStatus', changeTrainerStatus)
    }
  }
}
</script>
