<template>
  <div class="is-clearfix">
    <div class="columns">
      <div class="column">
        <el-input
          placeholder="Search drivers"
          prefix-icon="el-icon-search"
          v-model="driverSearchInput"
        ></el-input>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <el-select v-model="pCode" @change="onPostCodeChange" placeholder="Post Code">
              <el-option
                v-for="(postCode, index) in postCodes"
                :key="index"
                :label="postCode"
                :value="postCode"
              ></el-option>
            </el-select>
          </div>
          <div class="column">
            <el-select
              v-model="joinedDateOption"
              placeholder="Joined at"
              @change="onJoinedDateOptionChange"
            >
              <el-option
                v-for="(joinedDateOption, index) in joinedDateOptions"
                :key="index"
                :label="joinedDateOption.label"
                :value="joinedDateOption.value"
              ></el-option>
            </el-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  props: ['postCodes'],
  data() {
    return {
      pCode: '',
      driverSearchInput: '',
      joinedDateOption: '',
      joinedDateOptions: [
        {
          label: 'Last 7 Days',
          value: new Date(
            moment()
              .subtract(1, 'days')
              .calendar()
          ).getTime()
        },
        {
          label: 'Last 15 Days',
          value: new Date(
            moment()
              .subtract(15, 'days')
              .calendar()
          ).getTime()
        },
        {
          label: 'Last 30 Days',
          value: new Date(
            moment()
              .subtract(30, 'days')
              .calendar()
          ).getTime()
        }
      ]
    }
  },
  methods: {
    async onPostCodeChange() {
      let driversQueryOptions = {
        postCode: this.pCode
      }
      const data = await this.$store.dispatch(
        'drivers/getDriversData',
        driversQueryOptions
      )
    },
    onJoinedDateOptionChange() {
      let pageInfo = {
        postCode: this.pCode,
        startDurationDate: Number(this.joinedDateOption / 1000)
      }
      this.$store.dispatch('drivers/getDriversData', pageInfo)
      console.log(this.joinedDateOption, this.pCode)
    }
  },
  created() {
    this.$store.dispatch('drivers/fetchPostCodes')
  }
}
</script>
