<template>
  <div class="is-clearfix">
    <el-pagination
      layout="total"
      :total="totalCount">
    </el-pagination>
  </div>
</template>

<script>
export default {
  props: ['totalCount']
}
</script>

