<template>
  <div class="is-clearfix">
    <div class="columns">
      <div class="column">
        <el-input
          placeholder="Search Student"
          prefix-icon="el-icon-search"
          v-model="input21"
        ></el-input>
      </div>
      <div class="column"></div>
      <div class="column">
        <el-select v-model="value" placeholder="Driver name">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <div class="column">
        <el-select v-model="value" placeholder="City">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <div class="column">
        <el-select v-model="value" placeholder="Today">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
    </div>
  </div>
</template>
