<template>
  <div class="is-clearfix mb-4">
    <area-chart :data="chartData" legend="top" :download="true"></area-chart>
  </div>
</template>

<script>
export default {
  data() {
    return {
      chartData: [
        {
          name: 'Direct',
          data: [
            ['Jan', 10],
            ['Feb', 23],
            ['Mar', 23],
            ['Apr', 23],
            ['May', 23],
            ['Jun', 23],
            ['Jul', 23],
            ['Aug', 23],
            ['Sep', 23],
            ['Oct', 23],
            ['Nov', 23],
            ['Dec', 23]
          ]
        },
        {
          name: 'Block Booking',
          data: [
            ['Jan', 44],
            ['Feb', 23],
            ['Mar', 23],
            ['Apr', 23],
            ['May', 23],
            ['Jun', 23],
            ['Jul', 23],
            ['Aug', 23],
            ['Sep', 23],
            ['Oct', 23],
            ['Nov', 23],
            ['Dec', 23]
          ]
        }
      ]
    }
  }
}
</script>

