<template>
  <div class="is-clearfix my-4">
    <el-table :data="tableData" highlight-current-row>
      <el-table-column prop="name" label="Name"> </el-table-column>
      <el-table-column prop="totalSessions" label="Total Sessions"> </el-table-column>
      <el-table-column prop="totalHours" label="Total Hours"> </el-table-column>
      <el-table-column prop="totalEarned" label="Earned"> </el-table-column>
      <el-table-column label="Joined">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.joinedOn }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Details">
        <template slot-scope="scope">
          <el-button size="small" type="warning">View</el-button>
        </template>
      </el-table-column>
      <el-table-column label="Actions">
        <template slot-scope="scope">
          <nuxt-link to="/dashboard">
            <edit-icon title="Edit" class="has-text-primary" />
          </nuxt-link>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [
        {
          name: 'Tom',
          totalSessions: 1,
          totalHours: 1,
          totalEarned: '$20',
          joinedOn: '15/03/2018'
        }
      ]
    }
  }
}
</script>
