<template>
  <div class="is-clearfix has-background-white section">
    <div class="is-clearfix">
      <h1>Lifetime</h1>
      <h1 class="title is-4">$10000</h1>
    </div>
    <div class="columns is-clearfix my-3">
      <div class="column">
        <h1>Direct</h1>
        <h1 class="title is-4">$10000</h1>
      </div>
      <div class="column">
        <h1>Block Booking</h1>
        <h1 class="title is-4">$10000</h1>
      </div>
    </div>
    <div class="is-clearfix">
      <h1>Total payable to Driver</h1>
      <h1 class="title is-4 has-text-danger">$10000</h1>
    </div>
  </div>
</template>
