<template>
  <div class="is-clearfix my-4">
    <el-table :data="studentsData" highlight-current-row>
      <el-table-column prop="name" label="Name" width="150"></el-table-column>
      <el-table-column prop="email" label="Email" width="150"></el-table-column>
      <el-table-column prop="phone" label="Phone" width="150"></el-table-column>
      <el-table-column prop="address" label="Address" width="200"></el-table-column>
      <el-table-column prop="about" label="About" width="150"></el-table-column>
      <el-table-column prop="completed" label="Completed" width="150"></el-table-column>
      <el-table-column prop="postCode" label="Post Code" width="150"></el-table-column>
      <el-table-column prop="latLong" label="Lat - Long" width="150"></el-table-column>
      <el-table-column label="Actions">
        <template slot-scope="scope">
          <nuxt-link to="/dashboard">
            <edit-icon title="Edit" class="has-text-primary" />
          </nuxt-link>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: ['studentsData']
}
</script>
