<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu />
      <el-main>
        <SessionsOptions />
        <SessionsFilter />
        <DirectAppointmentsTable />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import SideBarMenu from '@/components/menu/index'
import SessionsOptions from '@/components/sessions/SessionsOptions'
import SessionsFilter from '@/components/sessions/SessionsFilter'
import DirectAppointmentsTable from '@/components/appointments/DirectAppointmentsTable'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Sessions | Gyru'
    }
  },
  components: {
    SideBarMenu,
    SessionsOptions,
    SessionsFilter,
    DirectAppointmentsTable
  }
}
</script>

