.has-default-background-color {
  background-color: #49496a;
}
.main-content-loader {
  margin-top: 55px;
}
.header-shadow {
  box-shadow: 0 1px 1px rgba(59, 59, 59, 0.1);
}

thead,
tbody {
  font-size: 12px;
}

/** --------------------------------- ELEMENT UI CSS STARTS --------------------------------- */

/** ELEMENT UI FORM INLINE ERROR STARTS */
.el-form-item__error--inline {
  margin-left: 0;
}
/** ELEMENT UI FORM INLINE ERROR ENDS */

/** ELEMENT UI CONTENT LAYOUT STARTS */
.el-container {
  background-color: #f7f7f7 !important;
  min-height: calc(100vh - 3.5rem) !important;
}
.el-menu {
  border: none;
}
.el-menu-item {
  color: #726f6f;
  font-weight: bold;
  font-size: 12px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border-right: 3px solid #fff;
}
.el-menu-item:hover,
.el-menu-item:focus,
.el-menu-item:active {
  color: #333;
  border-right: 3px solid #ee2f39;
}
.nuxt-link-active li {
  border-right: 3px solid #ee2f39;
}
.el-aside {
  position: fixed;
  height: -webkit-calc(100vh - 3.25rem);
  height: -moz-calc(100vh - 3.25rem);
  height: calc(100vh - 3.25rem);
  color: #333;
  width: 200px !important;
  background-color: #fff;
}
.el-main {
  background: #f7f7f7;
  padding: 20px 20px 20px 220px;
}
/** ELEMENT UI CONTENT LAYOUT ENDS */
.material-design-icon > .material-design-icon__svg {
  height: 1.5em !important;
  width: 1.5em !important;
  bottom: -0.1rem !important;
}

.el-submenu__title {
  font-weight: bold;
  font-size: 12px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  color: #726f6f;
}
.el-submenu .el-menu-item {
  padding: 0 20px;
}
/** --------------------------------- ELEMENT UI CSS ENDS --------------------------------- */
