<template>
  <div class="is-clearfix my-4">
    <el-table :data="reportsData" highlight-current-row>
      <el-table-column
        prop="reportedUserName"
        label="Reported by"
        width="220"
        class-name="is-capitalized"
      ></el-table-column>
      <el-table-column prop="reportedAgainstID" label="Report Type">
        <template slot-scope="scope">
          <span>Bug</span>
        </template>
      </el-table-column>
      <el-table-column prop="reportDetails" label="Details"></el-table-column>
      <el-table-column label="Reported At">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span class="is-capitalized">
            {{
            scope.row.createdAt | dateTimeFormatter
            }}
          </span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: ['reportsData']
}
</script>
