<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu />
      <el-main>
        <DriversFilter :postCodes="postCodes" />
        <DriversTable :driversData="driversData" />
        <CounterComponent :totalCount="driversData.length" />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios'
import SideBarMenu from '@/components/menu/index'
import DriversFilter from '@/components/drivers/DriversFilter'
import DriversTable from '@/components/drivers/DriversTable'
import CounterComponent from '@/components/common/CounterComponent'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Drivers | Gyru'
    }
  },
  async asyncData({ store }) {
    const data = await store.dispatch('drivers/getDriversData')
  },
  computed: {
    driversData() {
      return this.$store.state.drivers.drivers
    },
    postCodes() {
      return this.$store.state.drivers.postCodes
    }
  },
  components: {
    SideBarMenu,
    DriversFilter,
    DriversTable,
    CounterComponent
  }
}
</script>
