<template>
  <div class="is-clearfix">
    <nav class="navbar is-fixed-top header-shadow" role="navigation" aria-label="main navigation" >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="ml-2 has-text-primary has-text-weight-bold is-uppercase">Gyru</span>
        </a>
      </div>
      <div class="navbar-end mt-1 mr-3">
        <el-dropdown trigger="click">
          <el-button round>Abdul Baten</el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>Logout</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </nav>
    <div class="is-clearfix main-content-loader">
      <nuxt/>
    </div>
  </div>
</template>
