<template>
  <div class="is-clearfix">
    <nav class="navbar has-default-background-color" role="navigation" aria-label="main navigation" >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="@/assets/images/logo/default-logo.png" alt="Gyru" />
          <span class="ml-2 has-text-white has-text-weight-bold is-uppercase">Gyru</span>
        </a>
      </div>
    </nav>
    <div class="is-clearfix my-5">
      <div class="columns is-centered">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd" >
          <el-form :model="loginForm" status-icon :rules="loginFormRule" ref="loginForm" :inline-message="true">
            <el-form-item prop="email">
              <el-input size="large" type="text" v-model="loginForm.email" autocomplete="off" placeholder="Email address"></el-input>
            </el-form-item>
            <el-form-item prop="password">
              <el-input size="large" type="password" v-model="loginForm.password" placeholder="Password"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="large" type="primary" class="w-100" @click="submitForm('loginForm')">Submit</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        loginForm: {
          email: '',
          password: ''
        },
        loginFormRule: {
          email: [
            { required: true, message: 'Email address is required', trigger: ['blur', 'change'] },
            { type: 'email', message: 'Input a valid email address', trigger: ['blur', 'change'] }
          ],
          password: [{ required: true, message: 'Password is required', trigger: ['blur', 'change'] }]
        }
      }
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            alert('submit!')
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      resetForm(formName) {
        this.$refs[formName].resetFields()
      }
    }
  }
</script>
