<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu/>
      <el-main>
        <!-- <ReportsFilter/> -->
        <ReportsTable :reportsData="reportsData"/>
        <CounterComponent :totalCount="reportsData.length"/>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import SideBarMenu from '@/components/menu/index'
import ReportsFilter from '@/components/reports/against-student/ReportsFilter'
import ReportsTable from '@/components/reports/against-student/ReportsTable'
import CounterComponent from '@/components/common/CounterComponent'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Reports against Student | Gyru'
    }
  },
  async asyncData({ store }) {
    const data = await store.dispatch('reports/getReportsAgainstStudentData')
  },
  computed: {
    reportsData() {
      return this.$store.state.reports.reportsAgainstStudent
    }
  },
  components: {
    SideBarMenu,
    ReportsFilter,
    ReportsTable,
    CounterComponent
  }
}
</script>
