<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu />
      <el-main>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import SideBarMenu from '@/components/menu/index'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Dashboard | Gyru'
    }
  },
  components: {
    SideBarMenu
  }
}
</script>
