<template>
  <div class="is-clearfix">
    <el-container>
      <SideBarMenu />
      <el-main>
        <div class="columns">
          <div class="column">
            <PaymentsChart />
          </div>
          <div class="column is-4">
            <TotalPaymentCalculation />
          </div>
        </div>
        <PaymentsFilter />
        <PaymentsTable />
        <CounterComponent :totalCount="totalCount" />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import SideBarMenu from '@/components/menu/index'
import PaymentsChart from '@/components/payments/PaymentsChart'
import TotalPaymentCalculation from '@/components/payments/TotalPaymentCalculation'
import PaymentsFilter from '@/components/payments/PaymentsFilter'
import PaymentsTable from '@/components/payments/PaymentsTable'
import CounterComponent from '@/components/common/CounterComponent'
export default {
  layout: 'header',
  head() {
    return {
      title: 'Payments | Gyru'
    }
  },
  components: {
    SideBarMenu,
    PaymentsChart,
    TotalPaymentCalculation,
    PaymentsFilter,
    PaymentsTable,
    CounterComponent
  },
  data() {
    return {
      totalCount: 100
    }
  }
}
</script>
