<template>
  <el-aside class="sidebar-menu">
    <el-menu>
      <nuxt-link to="/dashboard" exact-active-class="is-active" exact>
        <el-menu-item index="1">
          <view-dashboard-icon class="mr-2"/>Dashboard
        </el-menu-item>
      </nuxt-link>
      <nuxt-link to="/students" exact-active-class="is-active" exact>
        <el-menu-item index="2">
          <student-icon class="mr-2"/>Students
        </el-menu-item>
      </nuxt-link>
      <nuxt-link to="/drivers" exact-active-class="is-active" exact>
        <el-menu-item index="3">
          <driver-icon class="mr-2"/>Drivers
        </el-menu-item>
      </nuxt-link>
      <nuxt-link to="/sessions" exact-active-class="is-active" exact>
        <el-menu-item index="4">
          <session-icon class="mr-2"/>Sessions
        </el-menu-item>
      </nuxt-link>
      <nuxt-link to="/appointments" exact-active-class="is-active" exact>
        <el-menu-item index="5">
          <appointment-icon class="mr-2"/>Appointments
        </el-menu-item>
      </nuxt-link>
      <nuxt-link to="/payments" exact-active-class="is-active" exact>
        <el-menu-item index="6">
          <payment-icon class="mr-2"/>Payments
        </el-menu-item>
      </nuxt-link>
      <el-submenu index="1">
        <template slot="title">
          <report-icon class="mr-2"/>Reports
        </template>
        <el-menu-item-group>
          <nuxt-link to="/reports/against-trainer" exact-active-class="is-active" exact>
            <el-menu-item index="7">
              <report-icon class="mr-2"/>Against Trainer
            </el-menu-item>
          </nuxt-link>
          <nuxt-link to="/reports/against-student" exact-active-class="is-active" exact>
            <el-menu-item index="7">
              <report-icon class="mr-2"/>Against Student
            </el-menu-item>
          </nuxt-link>
          <nuxt-link to="/reports/bug" exact-active-class="is-active" exact>
            <el-menu-item index="7">
              <report-icon class="mr-2"/>Bugs
            </el-menu-item>
          </nuxt-link>
          <nuxt-link to="/reports/others" exact-active-class="is-active" exact>
            <el-menu-item index="7">
              <report-icon class="mr-2"/>Others
            </el-menu-item>
          </nuxt-link>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </el-aside>
</template>
